<div>
    <h1  style="color:fuchsia">Sumar números Form Reference </h1>
    <form #sumarForm="ngForm">
        <label>Numero 1: </label>
        <input type="number"
                name ="cajanumero1"
                #cajanumero1/><br/>
        
            

        <label>Numero 2: </label>
        <input type="number"
                name ="cajanumero2"
                #cajanumero2/><br/>
        
        <button (click)="sumarNumeros()">
            Mostar suma
        </button>
    </form>        
    <hr/>
    <h1 style="color:blue">La suma de los números es {{suma}}</h1>
</div>