<h1>Ehemplo directivas Angular</h1>

<h2>Directivas ngStyle</h2>
<ul>
    <li *ngFor="let num of numeros"
    [ngClass]="{
        estilopar: num % 2 == 0,
        estiloimpar: num % 2 == 1
    }">
        {{num}}
    </li>
</ul>

<h2>Número de deportes: {{sports.length}}</h2>
<!--DIRECTIVA IF-->
<div *ngIf="sports.length < 7; then condiciontrue; else condicionelse">
    
</div>
<ng-template #condiciontrue>
    <h2 style="color:red">
        Tenemos menos de 7 deportes
    </h2>
</ng-template>
<ng-template #condicionelse>
    <h2 style="color:green">
        Tenemos más de 7 deportes
    </h2>
</ng-template>

<h4 style="color: blueviolet">
    El primer deportes es: {{ sports[0] }}
</h4>

<!-- BUCLE CON DIRECTIVA FOR -->
<ul>
    <li *ngFor="let deporte of sports; let i = index">
       Index:{{i}}, Deporte: {{deporte}}
    </li>
</ul>