<div>
    <h1 style="color:blue">
        Formulario Binding
    </h1>
    <h2>{{mensaje}}</h2>
    <!--EL FORMULARIO DEBE CONTENER UN ID DE ANGULAR
    INDICANDO COMO VALOR LA DIRECTIVA ngForm -->
    <form #userForm="ngForm" (ngSubmit)="recibirDatos()">

        <label>Nombre: </label>
        <!-- LOS CONTROLES DE FORMULARIO DEBEN TENER UN ID DE ANGUALAR
        INDICANDO COMO VALOR LA DIRECTIVA ngModel -->
        <!-- PARA INDICAR EL MODELO DEL BINDING SE REALIZA CON 
        LA SIGUIENTE SINTAXIS [(ngModel)]="modelo" -->
        <input type="text" name="cajanombre"
        #cajanombre="ngModel"
        [(ngModel)]="user.nombre" required />
        <label style="color:red"
        *ngIf="cajanombre.valid == false && cajanombre.touched"  >
            El nombre es obligatorio
        </label>
        <br/>
        <label>Apellidos: </label>
        <input type="text" name="cajaapellidos"
        #cajaapellidos="ngModel"
        [(ngModel)]="user.apellidos"
        pattern="^[A-Z]{1}[a-z]{2}"/>
        <label style="color:red"
        *ngIf="cajaapellidos.valid == false && cajaapellidos.touched">
            El campo apellido debe comenzar con Mayúscula
            y tes caracteres por lo menos
        </label>
        <br/>
        <label>Edad: </label>
        <input type="number" name="cajaedad"
        #cajaedad="ngModel"
        [(ngModel)]="user.edad"/><br/>

        <button [disabled]="!userForm.valid">
            Enviar datos
        </button>
    </form>
    <hr/>
    <h2 style="color: rebeccapurple">
        Nombre: {{user.nombre}}
    </h2>
    <h2 style="color: red">
        Nombre: {{user.apellidos}}
    </h2>
    <h2 style="color: blue">
        Nombre: {{user.edad}}
    </h2>
</div>